# Ignore everything by default
/*
# Include docker files
!/.Dockerfile
!/.dockerignore
!/dockerfile.*
# Include source code
!/src
!/*.sln
# Include build resources
!/nuget.config
# Exclude development resources
appsettings.Development.json
appsettings.local.json
secrets.json
# Exclude artifacts that get placed in source
bin/
obj/
out/
TestResults/
